<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello Spring Boot</title>
</head>
<body>
<h1 th:text="${#messages.msg('user.greeting', firstName)}">Hello Spring Boot</h1>

<a th:href="@{hello(firstName='Jan',lastName='Kowalski')}">Hello link</a>

<form action="/hello" method="post" th:object="${userForm}">
    <label for="firstName" th:text="#{user.firstName}"></label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}">
    <label for="lastName" th:text="#{user.lastName}"></label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}">
    <input type="submit" value="Send">
</form>
</body>
</html>